body {
  font-family: "Ubuntu";
}

.site-wrapper {
  max-width: 1920px;
  background-color: #fefefe;
}

.user-content-wrapper {
  max-width: 1510px;
  margin-right: 70px !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.brand-logo {
  z-index: 50;
}

#offcanvasButton {
  text-decoration: none;
  color: var(--bs-primary);
  cursor: pointer;
  transition: 0.2s;
}

#offcanvasButton:hover {
  color: #698efc;
}

#offcanvasButton:active {
  color: var(--bs-primary);
}

.catering-input {
  display: none;
}

.danger-toast {
  border: 1px solid #ea868f;
  color: #ea868f;
  background-color: #2c0b0e;
}

.card-input:hover {
  cursor: pointer;
  opacity: 1;
  border: 2px solid rgba(0, 170, 255, .5);
}

.card-input {
  border: 2px solid rgb(5, 5, 5, 0.1);
  opacity: 0.9;
}

.catering-input:checked+.card-input {
  border: 2px solid var(--bs-primary);
  opacity: 1;
}

.cart-layout {
  margin-top: 60px;
}

.cart-card-body {
  align-content: center;
}

.cart-card {
  max-width: 350px;
  min-width: 125px;
  min-height: 200px;

  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.cafe-card-wrapper {
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

.cafe-card {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);

  @media (max-width: 576px) {
    min-width: 250px !important;
    max-width: 325px !important;
    width: 100%;
  }
}

.out-of-stock-card {
  background: rgba(255, 255, 255, 0.25);
  filter: brightness(85%);
  pointer-events: none;
}

.cafe-basket {
  border: none;
}

.cafe-basket-trash:hover {
  color: var(--bs-danger);
}

.catering-order-card {
  max-width: 400px;
}

.catering-card {
  padding: 10px;

  @media (max-width: 576px) {
    min-width: 160px !important;
    max-width: 160px !important;
  }
}

.catering-card-image {
  height: 75px;
  border-radius: 0.25rem;
}

.catering-group {
  background-color: #f8f9fa;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.package-card {
  border: 2px solid var(--bs-primary);
  border-radius: 0.375rem;
  background-color: #f8f9fa;
}

.offer-card {
  border: 2px solid var(--bs-dark);
  border-radius: 0.375rem;
  background-color: #f8f9fa;
}

.packages-wrapper {
  @media (max-width: 576px) {
    max-width: 400px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.package-ticket-card {
  border: 2px solid var(--bs-primary);
  border-radius: 0.375rem;
}

.package-card-list {
  background-color: #f8f9fa;
}

.package-offer {
  background-color: #f8f9fa;
}

.package-offer-text {
  color: var(--bs-dark);
  align-self: center;
}

.packages-offer-modal-textarea {
  border: 1px solid #dee2e6;
  padding: 5px;
  width: 100%;
  height: 125px;
  resize: none;
}

.invoice-form-textarea {
  border: 1px solid #dee2e6;
  padding: 5px;
  width: 100%;
  height: 125px;
  resize: none;
}

.packages-card-footer {
  background-color: white;
}

.packages-ticket-card-footer {
  background-color: #f8f9fa;
}

.package-title {
  color: white;
  font-weight: bold;
  background-color: var(--bs-primary);
}

.sign-in-form {
  max-width: 340px;
  padding: 15px;
}

.sign-in-image {
  width: 160px;
  height: 40px;
}

.sign-in-username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-in-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-up-first-name {
  margin-bottom: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-up-last-name {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-up-password {
  margin-bottom: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-up-password-check {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-up-pdpa {
  text-decoration: underline;
  color: var(--bs-primary);
}

.sign-up-form {
  max-width: 400px;
  padding: 15px;
}

.sign-up-image {
  width: 160px;
  height: 40px;
}

.password-recovery-form {
  max-width: 340px;
  padding: 15px;
}

.password-recovery-image {
  width: 160px;
}

.form-floating:focus-within {
  z-index: 2;
}

.catering-sign {
  color: var(--bs-primary);
}

.sidebar-welcome {
  color: #ffffff;
  margin-left: 7px;
}

.user-panel-sidebar-active {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(240, 244, 255, 0.10);
  display: flow-root;
  padding: 7px;
  border-radius: 0.25rem;
  border: 1px solid rgba(240, 244, 255, 0.25);
}

.user-panel-sidebar-not-active {
  color: #a6a6a6;
  font-weight: 500;
  text-decoration: none;
  display: flow-root;
  padding: 8px;
}

.user-panel-sidebar-not-active:hover {
  color: #fefefe;
  font-weight: 500;
  background-color: rgba(240, 244, 255, 0.10);
  display: flow-root;
  padding: 7px;
  border-radius: 0.25rem;
  border: 1px solid rgba(240, 244, 255, 0.25);
}

.subscribed-services-text {
  font-weight: 450;
  font-size: 16;
}

.sidebar-subscribed-services {
  font-weight: 450;
  font-size: 16px;
}

.user-panel-offcanvas {
  background-color: #121212;
}

.user-panel-offcanvas-active {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(240, 244, 255, 0.10);
  display: flow-root;
  padding: 7px;
  border-radius: 0.25rem;
  border: 1px solid rgba(240, 244, 255, 0.25);
}

.user-panel-offcanvas-not-active {
  color: #a6a6a6;
  font-weight: 500;
  text-decoration: none;
  display: flow-root;
  padding: 8px;
}

.user-panel-offcanvas-not-active:hover {
  color: #fefefe;
  font-weight: 500;
  background-color: rgba(240, 244, 255, 0.10);
  display: flow-root;
  padding: 7px;
  border-radius: 0.25rem;
  border: 1px solid rgba(240, 244, 255, 0.25);
}

.offcanvas-link {
  vertical-align: sub;
}

.cafe-card-image {
  height: 150px;
}

.dropdown-button {
  cursor: pointer;
}

.payment-checkout-card {
  max-width: 400px;
  min-width: 200px;
}

.payment-stepper-footer {
  background-color: white;
}

.benefits-card {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
  height: 100%;
}

.benefits-card-description {
  font-size: 16px;
  font-weight: 500;
}

.events-card {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
  border-radius: 0.375rem;
  min-height: 450px;
}

.events-card-description {
  font-size: 16px;
  font-weight: 500;
}

.events-card-overlay {
  padding: 0px;
}

.events-card-header {
  padding: 20px;
  background-color: var(--bs-primary);
  color: white;
}

.events-card-footer {
  padding: 20px;
  background-color: #eaeaea;
  display: block;
}

.campaigns-card {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
  height: 100%;
}

.campaigns-card-description {
  font-size: 16px;
  font-weight: 500;
}

.announcement-card {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.announcement-card-title {
  font-size: 18px;
}

.order-tab.active {
  background-color: var(--bs-secondary) !important;
  color: white !important;
}

.order-tab {
  color: var(--bs-secondary);
}

.order-status-success-i {
  font-size: 55px;
  color: var(--bs-success);
}

.order-status-success {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.catering-form-icon {
  font-size: 65px;
  color: var(--bs-secondary);
  margin-bottom: 10px;
}

.catering-form-wrapper {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.cafe-form-icon {
  font-size: 65px;
  color: var(--bs-secondary);
  margin-bottom: 10px;
}

.cafe-form-wrapper {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.invoice-form-wrapper {
  padding: 10px;
  padding-top: 0px;
  text-align: start;
  margin: 10px auto;
}

.meeting-room-form-wrapper {
  padding: 10px;
  padding-top: 0px;
  text-align: start;
  margin: 10px auto;
}

.profile-jumbotron {
  max-width: 1100px;
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.dashboard-jumbotron {
  background-color: #f8f9fa;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.secondary-dashboard-jumbotron {
  background-color: #f8f9fa;
  border: 2px solid var(--bs-primary);
}

.catering-jumbotron {
  background-color: #f8f9fa;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.subscriptions-jumbotron {
  background-color: #f8f9fa;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.order-container {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.order-card {
  background-color: #fefefe;
  border: 2px solid rgb(5, 5, 5, 0.1);
}

.order-status-failed {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.order-status-failed-i {
  font-size: 55px;
  color: var(--bs-danger);
}

.iti {
  width: 100%;
}

.page-not-found-img {
  min-width: 160px !important;
  width: 160px !important;
  height: 40px !important;
}