.site-wrapper {
  max-width: 1920px;
  background-color: #fefefe;
}

.admin-content-wrapper {
  max-width: 1366px;
}

.user-content-wrapper {
  max-width: 1510px;
  margin-right: 70px !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.brand-logo {
  z-index: 50;
}

#offcanvasButton {
  text-decoration: none;
  color: var(--bs-primary);
  cursor: pointer;
  transition: 0.2s;
}

#offcanvasButton:hover {
  color: #a73b09;
}

#offcanvasButton:active {
  color: #863008;
}

.catering-input {
  display: none;
}

.danger-toast {
  border: 1px solid #ea868f;
  color: #ea868f;
  background-color: #2c0b0e;
}

.card-input:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--bs-secondary), 0 6px 20px 0 var(--bs-secondary);
  transform: translateY(4px);
  opacity: 1;
  color: black;
}

.card-input {
  color: gray;
  opacity: 0.7;
}

.card-input:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgb(8, 9, 10);
  transform: translateY(-8px);
}

.catering-input:checked+.card-input {
  box-shadow: 0 0 3px 3px var(--bs-primary);
  color: black;
  opacity: 1;
}

.cart-layout {
  margin-top: 60px;
}

.cart-card-body {
  align-content: center;
}

.cart-card {
  max-width: 350px;
  min-width: 125px;
  min-height: 200px;
}

.cafe-card-wrapper {
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

.cafe-card {
  @media (max-width: 576px) {
    min-width: 250px !important;
    max-width: 325px !important;
    width: 100%;
  }
}

.cafe-basket {
  border: none;
}

.cafe-basket-trash:hover {
  color: var(--bs-danger);
}

.catering-order-card {
  max-width: 400px;
}

.catering-card {
  padding: 10px;

  @media (max-width: 576px) {
    min-width: 400px !important;
    max-width: 500px !important;
  }
}

.catering-card-image {
  height: 150px;
}

.package-card {
  border: 2px solid var(--bs-primary);
  border-radius: 0.375rem;
  background-color: #f8f9fa;
}

.offer-card {
  border: 3px solid var(--bs-secondary);
  border-radius: 0.375rem;
  background-color: #f8f9fa;
}

.packages-wrapper {
  @media (max-width: 576px) {
    max-width: 400px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.package-ticket-card {
  border: 2px solid var(--bs-primary);
  border-radius: 0.375rem;
}

.package-card-list {
  background-color: #f8f9fa;
}

.package-offer {
  background-color: #f8f9fa;
}

.package-offer-text {
  color: var(--bs-secondary);
  align-self: center;
}

.packages-offer-modal-textarea {
  border: 1px solid #dee2e6;
  padding: 5px;
  width: 100%;
  height: 125px;
  resize: none;
}

.invoice-form-textarea {
  border: 1px solid #dee2e6;
  padding: 5px;
  width: 100%;
  height: 125px;
  resize: none;
}

.packages-card-footer {
  background-color: white;
}

.packages-ticket-card-footer {
  background-color: #f8f9fa;
}

.package-title {
  color: white;
  font-weight: bold;
  background-color: var(--bs-primary);
}

.sign-in-form {
  max-width: 340px;
  padding: 15px;
}

.sign-in-image {
  width: 250px;
}

.sign-in-username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-in-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-up-password {
  margin-bottom: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-up-password-check {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-up-pdpa {
  text-decoration: underline;
  color: var(--bs-primary);
}

.sign-up-form {
  max-width: 400px;
  padding: 15px;
}

.sign-up-image {
  width: 250px;
}

.password-recovery-form {
  max-width: 340px;
  padding: 15px;
}

.password-recovery-image {
  width: 250px;
}

.form-floating:focus-within {
  z-index: 2;
}

.catering-sign {
  color: var(--bs-primary);
}

.sidebar-welcome {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.user-panel-sidebar-active {
  color: #ed6109;
  text-decoration: none;
  vertical-align: sub;
  font-weight: 750;
}

.user-panel-sidebar-not-active {
  color: var(--bs-light);
  font-weight: 450;
  text-decoration: none;
  vertical-align: sub;
}

.user-panel-sidebar-not-active:hover {
  color: #ed6109;
  font-weight: 750;
}

.subscribed-services-text {
  font-weight: 450;
  font-size: 16;
}

.sidebar-subscribed-services {
  font-weight: 450;
  font-size: 16px;
}

.user-panel-offcanvas-active {
  color: var(--bs-primary);
  text-decoration: none;
  vertical-align: sub;
  font-weight: 750;
}

.user-panel-offcanvas-not-active {
  color: var(--bs-secondary);
  font-weight: 450;
  text-decoration: none;
  vertical-align: sub;
}

.user-panel-offcanvas-not-active:hover {
  color: var(--bs-primary);
  font-weight: 750;
}

.offcanvas-link {
  vertical-align: sub;
}

.cafe-card-image {
  height: 150px;
}

.dropdown-button {
  cursor: pointer;
}

.payment-checkout-card {
  max-width: 400px;
  min-width: 200px;
}

.payment-stepper-footer {
  background-color: white;
}

.benefits-card {
  background-color: #f8f9fa;
  height: 100%;
}

.benefits-card-description {
  font-size: 16px;
  font-weight: 500;
}

.events-card {
  border: 2px solid var(--bs-primary);
  border-radius: 0.375rem;
  min-height: 450px;
}

.events-card-description {
  font-size: 16px;
  font-weight: 500;
}

.events-card-overlay {
  padding: 0px;
}

.events-card-header {
  padding: 20px;
  background-color: var(--bs-primary);
  color: white;
}

.events-card-footer {
  padding: 20px;
  background-color: #eaeaea;
  display: block;
}

.campaigns-card {
  background-color: #f8f9fa;
  height: 100%;
}

.campaigns-card-description {
  font-size: 16px;
  font-weight: 500;
}

.announcement-card-title {
  font-size: 18px;
}

.order-tab.active {
  background-color: var(--bs-secondary) !important;
  color: white !important;
}

.order-tab {
  color: var(--bs-secondary);
}

.order-status-success-i {
  font-size: 55px;
  color: var(--bs-success);
}

.order-status-success {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.catering-form-icon {
  font-size: 65px;
  color: var(--bs-secondary);
  margin-bottom: 10px;
}

.catering-form-wrapper {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.cafe-form-icon {
  font-size: 65px;
  color: var(--bs-secondary);
  margin-bottom: 10px;
}

.cafe-form-wrapper {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.invoice-form-wrapper {
  padding: 10px;
  padding-top: 0px;
  text-align: start;
  margin: 10px auto;
}

.meeting-room-form-wrapper {
  padding: 10px;
  padding-top: 0px;
  text-align: start;
  margin: 10px auto;
}

.order-status-failed {
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.order-status-failed-i {
  font-size: 55px;
  color: var(--bs-danger);
}

.iti {
  width: 100%;
}
