.user-panel-main {
    max-width: 1920px;
}

.brand-logo {
    z-index: 50;
}

.cafe-card {
    max-width: 450px;
}

.cart-card {
    max-width: 350px;
    min-width: 125px;
}

.user-panel-sidebar-active {
    color: #cf480a;
    text-decoration: none;
    vertical-align: sub;
}

.user-panel-sidebar-not-active {
    color: black;
    text-decoration: none;
    vertical-align: sub;
}

.offcanvas-link {
    vertical-align: sub;
}

.cafe-card-image {
    height: 150px;
}
